header
    .container 
        include nav
        .__box 
            h1.__title Style & Beauty
            h1 New fashion brand
        .__link
            a(href='#')
                button.__btn(type='button') VIEW PROJECT