header
    img.prllx.prllx-0(src="@img/image_4.jpg" alt="Header")
    .container 
        include nav
        .__box 
            h1.__title Style & Beauty
            h1 New fashion brand
            a(href='#')
                button.__btn(type='button') VIEW PROJECT