section
    img.prllx.prllx-1(src="@img/image_3.jpg" alt="section 1")
    .container 
        .__box 
            h2.__title Living Room Girls
            h2 Interior Design - Red Room
            a.__btn(href='#') VIEW PROJECT
section.work
    img.prllx.prllx-2(src="@img/image_2.jpg" alt="section 2")
    .container 
        .__box 
            .__title The shape of water flowers
            h2 Book Cover
            a.__btn(href='#') VIEW PROJECT
section.blog
    img.prllx.prllx-3(src="@img/image_1.jpg" alt="section 3")
    .container 
        .__box 
            .__title Capturing the sunlight
            h2 Fashion Photoshoot
            a.__btn(href='#') VIEW PROJECT
section.about
    img.prllx.prllx-4(src="@img/image_0.jpg" alt="section 4")
    .container 
        .__box 
            .__title Looking on the other side
            h2 Portrait photography
            a.__btn(href='#') VIEW PROJECT
section.contact
    .container 
        .__box 
            .__title-footer Let's do something amazing.
            h2 Get in touch with us today
            a.__btn.__btn-white(href='#') START A PROJECT