section
    .container 
        .__box 
            h1.__title Living Room Girls
            h1 Interior Design - Red Room
        .__link
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section
    .container 
        .__box 
            h1.__title The shape of water flowers
            h1 Book Cover
        .__link
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section
    .container 
        .__box 
            h1.__title Capturing the sunlight
            h1 Fashion Photoshoot
        .__link
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section
    .container 
        .__box 
            h1.__title Looking on the other side
            h1 Portrait photography
        .__link
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section
    .container 
        .__box 
            h1.__title-footer Let's do something amazing.
            h1 Get in touch with us today
        .__link
            a(href='#')
                button.__btn.__btn-white(type='button') START A PROJECT