section
    img.prllx.prllx-1(src="@img/image_3.jpg" alt="section 1")
    .container 
        .__box 
            h1.__title Living Room Girls
            h1 Interior Design - Red Room
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section.work
    img.prllx.prllx-2(src="@img/image_2.jpg" alt="section 2")
    .container 
        .__box 
            h1.__title The shape of water flowers
            h1 Book Cover
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section.blog
    img.prllx.prllx-3(src="@img/image_1.jpg" alt="section 3")
    .container 
        .__box 
            h1.__title Capturing the sunlight
            h1 Fashion Photoshoot
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section.about
    img.prllx.prllx-4(src="@img/image_0.jpg" alt="section 4")
    .container 
        .__box 
            h1.__title Looking on the other side
            h1 Portrait photography
            a(href='#')
                button.__btn(type='button') VIEW PROJECT
section.contact
    .container 
        .__box 
            h1.__title-footer Let's do something amazing.
            h1 Get in touch with us today
            a(href='#')
                button.__btn.__btn-white(type='button') START A PROJECT