footer {
    background: black;
    min-height: 128px;
}

.__nav-footer {
    display              : -ms-grid;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    font-family          : $ff__open_sans;
    font-size            : 13px;
    line-height          : 28px;
    letter-spacing       : 0em;
    color                : $color-gray-l;

    &-copy {
        display          : -webkit-box;
        display          : -ms-flexbox;
        display          : flex;
        -webkit-box-align: center;
        -ms-flex-align   : center;
        align-items      : center;
        -webkit-box-pack : center;
        -ms-flex-pack    : center;
        justify-content  : center;

        span::after {
            content     : '❤';
            color       : $color-red;
            margin-right: .25rem;
        }
    }

    &-links {
        display              : -ms-grid;
        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, auto));
        -ms-flex-line-pack   : center;
        align-content        : center;
    }

    &-item {

        a {
            color: $color-gray-l;
        }

        &-active {
            a {
                color: $color-white;
            }
        }
    }
}