//? CSS Sections code   
//* media screen   

header,
section {
  position: relative;
}

.prllx {
  width : $w100p;
  height: $w100p;
}

header>.container,
section>.container {
  position: absolute;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;
}

section:last-of-type {
  background: black;

  &>.container {
    position          : initial;
    height            : $w100p;
    grid-template-rows: repeat(2, 1fr);
    place-items       : center center;
  }
}

@media screen and (max-width: 768px) {
  header {
    .container {
      grid-template-rows: 30% auto;

      .__box {
        h1 {
          margin: 0;
        }
      }
    }
  }
}