.svg-p_vector-dims {
    width : 24px;
    height: 33px;
}

.svg-vector_P-dims {
    width : 24px;
    height: 33px;
}

.svg-vector_a-dims {
    width : 22px;
    height: 25px;
}

.svg-vector_e-dims {
    width : 19px;
    height: 26px;
}

.svg-vector_r-dims {
    width : 19px;
    height: 25px;
}