// media queries to IE5-8 
@media \0screen\,screen\9 {}

// media queries to IE9 
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {}

// media queries to IE10+ 
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    html {
        overflow-x: hidden;
    }

    body {
        background: black;
    }

    .container {
        width: 100%;
    }

    .__nav {
        -webkit-box-pack: start;
        -ms-flex-pack   : start;
        justify-content : flex-start;

        &-links {
            margin-right: 0;
            margin-left : auto;
            width       : auto;

            &.is-hidden {
                display: initial !important;
            }
        }
    }

    .contact {
        .container {
            position: relative;
        }
    }

    .__nav-footer {
        display      : -webkit-box;
        display      : -ms-flexbox;
        display      : flex;
        -ms-flex-wrap: wrap;
        flex-wrap    : wrap;

        &-copy {
            margin-right: auto;
        }

        &-links {
            display          : -webkit-box;
            display          : -ms-flexbox;
            display          : flex;
            -webkit-box-align: center;
            -ms-flex-align   : center;
            align-items      : center;
        }

        &-item {
            margin-left: $rem;
        }
    }

    @media screen and (max-width: 768px) {
        .__nav {
            &-links {
                position             : relative;
                -webkit-box-orient   : horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction   : row;
                flex-direction       : row;
                -webkit-box-align    : center;
                -ms-flex-align       : center;
                align-items          : center;
                background           : none;
                top                  : 0;
                opacity              : 1;
            }

            &-item {
                padding: 0;
            }

            &-menu_button {
                display: none;
            }
        }

        .__nav-footer {
            -webkit-box-pack: center;
            -ms-flex-pack   : center;
            justify-content : center;
        }
    }
}