//font-family
$ff__awesome   : 'fontawesome';
$ff__main      : PlayfairDisplay;
$ff__open_sans : OpenSans;
$ff__lato      : LatoRegular;

//colors
$color-red    : #de2b24;
$color-yellow : #f8cd53;
$color-gray   : #424242;
$color-gray-l : #666666;
$color-border : #e2e2e2;
$color-white  : #ffffff;

//width & height
$rem   : 1rem;
$w100p : 100%;
$w10px : 10px;