doctype html 
html 
    include html/head 
    head 
        title Paper Figma 
    body 
        main
            include html/header 
            include html/section 
            include html/footer 
            include html/script 