doctype html 
html 
    include html/head 
    head 
        title Home - Paper 
    body 
        include html/header 
        main
            include html/section 
        include html/footer 
    include html/script 